<!-- img 1 -->
<div id="img1" class="parallax">
  <div class="container">
    <h1 class="bannertext">Hi, I'm Shawn</h1>
    <h3 class="white-text opaque2">
      A full stack developer based in Seattle Washington.
    </h3>
  </div>
</div>

<div class="section white">
  <div class="row container">
    <h2 class="header">Summary</h2>
    <img
      id="profile_pic"
      class="responsive-img circle right"
      src="assets/images/me2.png"
    />
    <!-- Past -->
    <h5 class="blue-text">Past</h5>
    <p class="flow-text">
      I recently graduated from Coding Dojo in Seattle, where I focused mainly
      on developing full CRUD applications using a variety of tools.
    </p>
    <p class="flow-text">
      Previous to this I Focused on getting my college degree, however decided
      to go a more focused route towards Web Development.
    </p>
    <!-- Present -->
    <h4 class="blue-text">Present</h4>
    <p class="flow-text">
      Recently, I've been working mostly with Angular and getting my feet wet
      with React technologies. While Angular is currently my main focus, I love
      diving into new technologies.
    </p>
    <p class="flow-text">
      In the past I've worked with vanilla Javascript, Python via Django, full
      MEAN, and C# with the Entity Framework.
    </p>
  </div>
</div>

<!-- img2 -->
<div id="img2" class="parallax hide-on-med-and-down"></div>

<div class="section white ">
  <div class="row container">
    <h2 class="header " style="text-align:end">I am:</h2>
    <p class="grey-text text-darken-3 flow-text ">
      Passionate about Front End Development <br />
      Creating freelance projects to get small business known <br />
      Exploring new technologies that are growing out of nothing<br />
      Dedicated to complete any task that I put my mind too.
    </p>
  </div>
</div>

<!-- img3 -->
<div id="img3" class="parallax"></div>
