#img1 {
  background-image: url("/assets/images/christmas_1.jpg");
  opacity: 0.95;
  min-height: 40vh;
}
#img2 {
  background-image: url("/assets/images/bridge_2.jpg");
  min-height: 30vh;
  opacity: 0.65;
}
#img3 {
  background-image: url("/assets/images/water_1.jpg");
  background-position: top;
  min-height: 45vh;
}
#profile_pic {
  height: 25%;
}

@media screen and (max-width: 768px) {
  .parallax {
    min-height: 250px;
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
  }
  #img1 {
    background-image: url("/assets/images/fushimiinari_2.jpg");
    background-position: bottom;
  }
  #img3 {
    background-image: url("/assets/images/fushimiinari_1.jpg");
    background-position: top;
  }
}
