<div class="container">
  <h1>Projects</h1>

  <!-- Slider modal 1 -->
  <ul class="collapsible" materialize="collapsible">
    <li>
      <div class="collapsible-header">
        <h5 class="projecttitle">
          <a href="https://github.com/Shawnpcw/belt2" target="_blank"
            ><i class="fas fa-code"></i
          ></a>
          Commerce Manager
        </h5>
        <!-- <i class="material-icons right-align">arrow_drop_down</i> -->
        <i class="fas fa-sort-down right"></i>
      </div>

      <div class="collapsible-body">
        <div class="slider" materialize="slider">
          <ul class="slides">
            <li>
              <h3 class="light grey-text text-darken-2">Commerce Manager</h3>
              <!-- <p class="light grey-text text-darken-2"></p> -->
              <img src="assets/images2/comm0.png" />
            </li>
            <li>
              <span class="caption left-align">
                <img class="left-align" src="assets/images2/comm1.png" />
              </span>
            </li>
            <li>
              <span class="caption left-align">
                <img class="left-align" src="assets/images2/comm2.png" />
              </span>
            </li>
            <li>
              <span class="caption right-align">
                <img class="left-align" src="assets/images2/comm3.png" />
              </span>
            </li>
            <li>
              <div class="opaque caption center-align ">
                <a
                  class="white-text"
                  href="https://github.com/Shawnpcw/belt2"
                  target="_blank"
                >
                  <h3 class="flow-text">
                    <i class="fab fa-github white-text fa-2x"></i>
                    Github.com/Shawnpcw/belt2
                  </h3>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </li>

    <li>
      <div class="collapsible-header">
        <h5 class="projecttitle">
          <a href="http://lotusmasaz.com/home" target="_blank"
            ><i class="fas fa-code"></i
          ></a>
          Lotus Masaz
        </h5>
        <!-- <i class="material-icons right-align">arrow_drop_down</i> -->
        <i class="fas fa-sort-down right"></i>
      </div>

      <div class="collapsible-body">
        <div class="slider" materialize="slider">
          <ul class="slides">
            <li>
              <h3 class="light grey-text text-darken-2">Lotus Masaz</h3>
              <p class="light grey-text text-darken-2">Massage Website</p>
              <img src="assets/images2/lotus0.png" />
            </li>
            <li>
              <span class="caption left-align">
                <img class="left-align" src="assets/images2/lotus1.png" />
              </span>
            </li>
            <li>
              <span class="caption right-align">
                <img class="left-align" src="assets/images2/lotus2.png" />
              </span>
            </li>
            <li>
              <div class="opaque caption center-align ">
                <a
                  class="white-text"
                  href="http://lotusmasaz.com/home"
                  target="_blank"
                >
                  <h3 class="flow-text">
                    <!-- <i class="fab fa-github white-text fa-2x"></i> -->
                    http://lotusmasaz.com/home
                  </h3>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </li>

    <!-- Slider modal 2 -->
    <li>
      <div class="collapsible-header">
        <h5 class="projecttitle">
          <a href="https://github.com/Shawnpcw/Math-Tic-Tac-Toe" target="_blank"
            ><i class="fas fa-code"></i
          ></a>
          Math Tic-Tac-Toe
        </h5>

        <!-- <i class="material-icons right-align">arrow_drop_down</i> -->
        <i class="fas fa-sort-down right"></i>
      </div>

      <div class="collapsible-body">
        <div class="slider" materialize="slider">
          <ul class="slides">
            <li>
              <h3 class="light grey-text text-darken-2">Math Tic-Tac-Toe</h3>
              <p class="light grey-text text-darken-2">
                User account template for business sites
              </p>
              <img src="assets/images2/math0.png" />
            </li>
            <li>
              <span class="caption left-align"
                ><img class="left-align" src="assets/images2/math1.png" />
              </span>
            </li>
            <li>
              <span class="caption left-align"
                ><img class="left-align" src="assets/images2/math2.png" />
              </span>
            </li>
            <li>
              <span class="caption left-align"
                ><img class="left-align" src="assets/images2/math3.png" />
              </span>
            </li>
            <li>
              <div class="opaque caption center-align ">
                <a
                  class="white-text"
                  href="https://github.com/Shawnpcw/Math-Tic-Tac-Toe"
                  target="_blank"
                >
                  <h3 class="flow-text">
                    <i class="fab fa-github white-text fa-2x"></i>
                    Github.com/Shawnpcw/Math-Tic-Tac-Toe
                  </h3>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>

  <!-- Current Projects section -->
  <div class="currentprojects"><h3>Current Project</h3></div>

  <!-- Current Project 2 -->
  <div class="card ">
    <div class="card-content activator ">
      <span class="card-title activator grey-text text-darken-4">
        Game tracking app - <em>passion project</em>
        <!-- <i class="material-icons right">arrow_drop_down</i> -->
        <i class="fas fa-sort-down right"></i>
      </span>
      <p>
        <strong>Technologies:</strong> Angular/React (tbd), Apex Legends Api.
      </p>
    </div>
    <div class="card-reveal green lighten-1 white-text">
      <span class="card-title white-text text-darken-2">
        Game App
        <!-- <i class="material-icons right">arrow_drop_up</i> -->
        <i class="fas fa-sort-up right"></i>
      </span>
      <p>
        This app will allow users to view scores they currently have in the
        game, Apex Legends using the api. They will be able to compare with top
        players and searchable players. Using my passion for coding and gaming I
        will create something that will merge both.
      </p>
    </div>
    <div class="card-action ">
      <p>
        <i class="fab fa-github dark-grey-text "></i
        ><a class="grey-text"> Codebase is not available yet. </a>
      </p>
    </div>
  </div>
</div>
