<!-- ********* Nav ********* -->

<!-- BUILDSIDE NAV AND TOP NAV W/ TOGGLE HERE -->
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper blue darken-3 ">
      <ul>
        <li><a [routerLink]="['/']"> Main </a></li>
        <li><a [routerLink]="['/resume']"> Resume </a></li>
        <li><a [routerLink]="['/projects']"> Projects </a></li>
        <!--
          <li> <a [routerLink]="['/collaborate']" > Work with me </a></li>
        -->
        <li class="right" (click)="jumpToTop($event)"><a> Jump to Top</a></li>
      </ul>
    </div>
  </nav>
</div>

<!-- ********* main router ********* -->

<div class="main"><router-outlet></router-outlet></div>

<!-- ********* Modal ********* -->

<!-- Modal Open button -->
<div class="row container center">
  <a
    class="waves-effect waves btn-large modal-trigger blue darken-3 circle"
    (click)="modalOpen()"
    (mouseenter)="modalOpen()"
  >
    Contact me
  </a>
</div>

<!-- Modal Main -->
<div
  id="modal1"
  class="modal bottom-sheet"
  materialize="modal"
  [materializeActions]="modalActions"
>
  <!-- content used for spacing -->
  <div class="modal-content "><h4>Shawn Cannon-Williams</h4></div>

  <div class="row center">
    <!-- 1st contact card -->
    <div class="col s12 l4">
      <div class="card blue-grey darken-2">
        <div class="card-content white-text">
          <span class="card-title">
            <a href="https://github.com/shawnpcw" target="_blank">
              <i class="fab fa-github white-text"></i>
              <span class="white-text"> Github</span></a
            >
          </span>
        </div>
      </div>
    </div>

    <!-- 2nd contact card -->
    <div class="col s12 l4">
      <div class="card blue-grey darken-2">
        <div class="card-content white-text">
          <span class="card-title">
            <a href="https://www.linkedin.com/in/shawnpcw/" target="_blank ">
              <i class="fab fa-linkedin white-text"></i
              ><span class="white-text"> Linkedin</span></a
            >
          </span>
        </div>
      </div>
    </div>

    <!-- 3rd contact card -->
    <div class="col s12 l4">
      <div class="card blue-grey darken-2">
        <div class="card-content white-text">
          <span class="card-title">
            <a href="mailto:s.cannon.williams@gmail.com">
              <i class="far fa-envelope white-text"></i>
              <span class="white-text"> s.cannon.williams@gmail.com</span>
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
